<a href="https://colab.research.google.com/github/Code-Ebullient/7_days_python_ml/blob/main/sales_prediction_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the necessary libraries

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Data Preparation

In [ ]:
data = "http://www.econometrics.com/intro/SALES.txt"
!wget $data

--2023-06-08 14:44:34--  http://www.econometrics.com/intro/SALES.txt
Resolving www.econometrics.com (www.econometrics.com)... 51.105.35.37
Connecting to www.econometrics.com (www.econometrics.com)|51.105.35.37|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 577 [text/plain]
Saving to: ‘SALES.txt’

SALES.txt           100%[===================>]     577  --.-KB/s    in 0s

2023-06-08 14:44:35 (82.7 MB/s) - ‘SALES.txt’ saved [577/577]

In [ ]:
loc = "SALES.txt"

In [ ]:
df = pd.read_csv(loc, sep="\s+", header=None)

In [ ]:
df.head()

      0     1
0  12.0  15.0
1  20.5  16.0
2  21.0  18.0
3  15.5  27.0
4  15.3  21.0

In [ ]:
df.columns = ['Sales', 'Advertising']
df.head()

   Sales  Advertising
0   12.0         15.0
1   20.5         16.0
2   21.0         18.0
3   15.5         27.0
4   15.3         21.0

In [ ]:
df.describe().round(2)

       Sales  Advertising
count  36.00        36.00
mean   24.26        28.53
std     6.19        18.78
min    12.00         1.00
25%    20.30        15.75
50%    24.25        23.00
75%    28.60        41.00
max    36.50        65.00